@{
    ViewBag.Title = "Сформированные отчеты";
}

<h2>Сформированные отчеты</h2>

@using (Html.BeginForm("Create", "Reports", FormMethod.Post)) {
    @Html.AntiForgeryToken()
<div class="form-group">
    @Html.TextBox("username", null, new { @class = "form-control", placeholder = "username" })
</div>
<input type="submit" value="Го!" class="btn btn-primary"/>
}