@model TwitterAnalyzer.WebUI.Models.Home.About
@{
    ViewBag.Title = "About";
}

<p>@Model.Username</p>
<p>@Model.Tweets.Count</p>
@foreach (var tweet in Model.Tweets)
{
    <p>@tweet.Text <b>@tweet.FavoriteCount</b></p>
}
