@model TwitterAnalyzer.WebUI.Models.Home.About
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("About", "Home"))
        {
            @Html.TextBoxFor(x=>x.Username, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Go</button>
        }
    </div>
</div>